<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site de plomberie">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>{% block title %}Obr-plomberie{% endblock %}</title>

    {# <link rel="canonical" href="{{ asset('assets/css/carousel.css')}}"> #}

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">




    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('app_home') }}">OBR-Plomberie</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-link dropdown show">
            <a class="nav-item text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Nos prestations
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{ path('app_prestations') }}">Sanitaires</a>
              <a class="dropdown-item" href="{{ path('app_prestations', {'type' : 'chaudieres'}) }}">Entretiens et dépannages des chaudières à gaz</a>
              <a class="dropdown-item" href="{{ path('app_prestations', {'type' : 'plomberie'}) }}">Plomberie</a>
              <a class="dropdown-item" href="{{ path('app_prestations', {'type' : 'vmc'}) }}">VMC</a>
              <a class="dropdown-item" href="{{ path('app_prestations', {'type' : 'bains'}) }}">Bains</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_news') }}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_contact') }}">Contact</a>
          </li>
        </ul>
        <div>
          {% if app.user %}
            <a class="link-light" aria-current="page" href="{{ path('app_account') }}">Administration</a> | <a class="link-light" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
          {% endif %} 
        </div>
        {# <div class="navbar-link">
        {% if app.user %}
        <a href="{{ path('app_account') }}" class="link-light">Mon compte <small>({{ app.user.firstname }})</small></a> | <a href="{{ path('app_logout') }}" class="link-light">Deconnexion</a>
        {% else %}
        <a href="{{ path('app_login') }}" class="link-light">Connexion</a> | <a href="{{ path('app_register') }}" class="link-light">Inscription</a> 
        {% endif %}
        </div> #}
        {# <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Votre recherche" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form> #}
      </div>
    </div>
  </nav>
</header>

<main>

  {% if block('carousel') is defined %}
  <div id="myCarousel" class="carousel slide 
  " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div id="contrast1" class="carousel-item active">
        <img class="img-fluid" src="/assets/images/plomberie2svg.svg" role="img" aria-label="Placeholder: 500x500"  focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/></img>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="text-light text-end">Un service de qualité</h1>
            <p class="text-light  text-end">Dépannage 7 jours sur 7, 24h / 24</p>
            <p class="text-end"><a id="test" class="btn btn-lg" href="{{ path('app_prestations') }}" >Consulter nos services</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="/assets/images/plomberie1.png" aria-hidden="true"  focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
        <div class="container">
          <div class="carousel-caption">
            <h1 class="text-light">Dépannage, conseils, entretien</h1>
            <p class="text-light">Un professionnel qualifié à votre service</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="/assets/images/plomberie3.png" aria-hidden="true"  focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Contactez nous!</h1>
            <p class="text-light">Contactez nous en cliquant sur le lien ci-dessous</p>
            <p><a class="btn btn-lg" href="{{ path('app_contact') }}">Contact</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endif %}

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing w-75 mb-5 {% if block('carousel') is not defined %}mt-5{% endif %}">

    {% block content %} 
     
    {% endblock %}

    <!-- Three columns of text below the carousel -->
    
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <div class="footer-custom mt-2">
    <p>&copy; OBR-plomberie </br>
    <a href="#">Privacy</a> 
    &middot; <a href="#">Terms</a>
    </p>
  </div>
</main>

{# <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> #}
<script src="{{ asset('assets/js/bootstrap.bundle.min.js')}}" ></script>
{# <script src="{{ asset('assets/js/main.js')}}" ></script> #}
{# <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script> #}


      
  </body>
</html>

